language: bash
sudo: required
dist: trusty
install:
        - ./install.sh
before_script:
        - sudo add-apt-repository ppa:duggan/bats --yes
        - sudo apt-get update
        - sudo apt-get install bats
script:
        - bats -v
        - make test
